DATABASE_URL=

# Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_SECRET= 

NEXT_PUBLIC_APP_URL='http://localhost:3000'

USERNAME = 
USER_EMAIL = 
USER_PASSWORD = 

# Cloudflare R2
CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_PUBLIC_URL=
