@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: var(--background-default);
    --foreground: var(--text-default);
    --card: var(--background-default);
    --card-foreground: var(--text-default);
    --popover: var(--background-default);
    --popover-foreground: var(--text-default);
    --primary: var(--background-primary);
    --primary-foreground: var(--text-inverse);
    --secondary: var(--background-muted);
    --secondary-foreground: var(--text-default);
    --muted: var(--background-muted);
    --muted-foreground: var(--text-muted);
    --accent: var(--background-muted);
    --accent-foreground: var(--text-default);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--text-inverse);
    --border: var(--border-default);
    --input: var(--border-default);
    --ring: var(--background-primary);
    --radius: 0.5rem;

    /* FRAMER HSL LIGHT COLORS */
    --text-default: 200 10% 6%;
    --text-inverse: 0 0% 100%;
    --text-muted: 200 10% 6% / 60%;
    --text-inverse-muted: 0 0% 100% / 60%;
    --background-default: 0 0% 100%;
    --background-default-hover: 0 0% 96%;
    --background-muted: 0 0% 96%;
    --background-muted-hover: 0 0% 93%;
    --background-primary: 200 9% 6%;
    --background-primary-hover: 195 8% 10%;
    --border-default: 180 12% 92%;
  }

  .dark {
    --background: var(--background-default);
    --foreground: var(--text-default);
    --card: var(--background-default);
    --card-foreground: var(--text-default);
    --popover: var(--background-default);
    --popover-foreground: var(--text-default);
    --primary: var(--background-primary);
    --primary-foreground: var(--text-inverse);
    --secondary: var(--background-muted);
    --secondary-foreground: var(--text-default);
    --muted: var(--background-muted);
    --muted-foreground: var(--text-muted);
    --accent: var(--background-muted);
    --accent-foreground: var(--text-default);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--text-inverse);
    --border: var(--border-default);
    --input: var(--border-default);
    --ring: var(--background-primary);

    /* FRAMER HSL DARK COLORS */
    --text-default: 0 0% 100%;
    --text-inverse: 200 10% 6%;
    --text-muted: 0 0% 100% / 60%;
    --text-inverse-muted: 200 10% 6% / 60%;
    --background-default: 200 10% 6%;
    --background-default-hover: 0 0% 0%;
    --background-muted: 0 0% 100% / 7%;
    --background-muted-hover: 0 0% 100% / 11%;
    --background-primary: 0 0% 100%;
    --background-primary-hover: 0 0% 96%;
    --border-default: 200 4% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* THEME TRANSITION */
::view-transition-group(root) {
  animation-duration: 1.25s;
}

::view-transition-new(root),
::view-transition-old(root) {
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  animation-name: reveal-light;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
}

.dark::view-transition-new(root) {
  animation-name: reveal-dark;
}

@keyframes reveal-dark {
  from {
    clip-path: polygon(-30% 0, -30% 0, -15% 100%, -10% 115%);
  }
  to {
    clip-path: polygon(-30% 0, 130% 0, 115% 100%, -10% 115%);
  }
}

@keyframes reveal-light {
  from {
    clip-path: polygon(130% 0, 130% 0, 115% 100%, 110% 115%);
  }
  to {
    clip-path: polygon(130% 0, -30% 0, -15% 100%, 110% 115%);
  }
}
