@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 200 10% 6%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 200 9% 9%;
    --primary-foreground: 195 8% 10%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 93%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    /* FRAMER HSL LIGHT COLORS */
    --text-default: 200 10% 6%;
    --text-inverse: 0 0% 100%;
    --text-muted: 200 10% 6% / 60%;
    --text-inverse-muted: 0 0% 100% / 60%;
    --background-default: 0 0% 100%;
    --background-default-hover: 0 0% 96%;
    --background-muted: 0 0% 96%;
    --background-muted-hover: 0 0% 93%;
    --background-primary: 200 9% 6%;
    --background-primary-hover: 195 8% 10%;
    --border-default: 180 12% 92%;
  }

  .dark {
    --background: 200 10% 6%;
    --foreground: 0 0% 100%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0 96%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 100% / 7%;
    --muted-foreground: 0 0% 100% / 11%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    /* FRAMER HSL DARK COLORS */
    --text-default: 0 0% 100%;
    --text-inverse: 200 10% 6%;
    --text-muted: 0 0% 100% / 60%;
    --text-inverse-muted: 200 10% 6% / 60%;
    --background-default: 200 10% 6%;
    --background-default-hover: 0 0% 0%;
    --background-muted: 0 0% 100% / 7%;
    --background-muted-hover: 0 0% 100% / 11%;
    --background-primary: 0 0% 100%;
    --background-primary-hover: 0 0% 96%;
    --border-default: 200 4% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* THEME TRANSITION */
::view-transition-group(root) {
  animation-duration: 1.25s;
}

::view-transition-new(root),
::view-transition-old(root) {
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  animation-name: reveal-light;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
}

.dark::view-transition-new(root) {
  animation-name: reveal-dark;
}

@keyframes reveal-dark {
  from {
    clip-path: polygon(-30% 0, -30% 0, -15% 100%, -10% 115%);
  }
  to {
    clip-path: polygon(-30% 0, 130% 0, 115% 100%, -10% 115%);
  }
}

@keyframes reveal-light {
  from {
    clip-path: polygon(130% 0, 130% 0, 115% 100%, 110% 115%);
  }
  to {
    clip-path: polygon(130% 0, -30% 0, -15% 100%, 110% 115%);
  }
}
